<head>
  <script src="https://www.amcharts.com/lib/3/amcharts.js?x"></script>
  <script src="https://www.amcharts.com/lib/3/serial.js?x"></script>
  <script src="https://www.amcharts.com/lib/3/themes/dark.js"></script>
  
</head>
  
  <style>
  body{
      background-color: #161616;  
    }
  a{
      visibility: hidden;
  }
  h1{
      color:white;
      margin-left: 0%;
      width: 50%;
  }
  
  p{
      color:white;
      margin-left: 0%;
      width: 50%;
      animation: fadeInAnimation ease 12s; 
      animation-iteration-count: 1; 
      animation-fill-mode: forwards; 
  }
  
  .hide {
      display: none;
    }
  .hover_hide:hover + .hide {
      display: block;
      color: red;
    }
  h2 { 
      color:white;
      margin-left: 0%;
      width: 50%;
      animation: fadeInAnimation ease 6s; 
      animation-iteration-count: 1; 
      animation-fill-mode: forwards; 
  } 
  @keyframes fadeInAnimation { 
      0% { 
          opacity: 0; 
      } 
      100% { 
          opacity: 1; 
      } 
  } 
    #chartdiv {	
       width		: 100%;
        height		: 500px;
        background-color: #161616;  
    }
    
    .amcharts-graph-human .amcharts-graph-stroke {
      stroke-dasharray: 3px 3px;
      stroke-linejoin: round;
      stroke-linecap: round;
      -webkit-animation: am-moving-dashes 1s linear infinite;
      animation: am-moving-dashes 1s linear infinite;
    }
    
    @-webkit-keyframes am-moving-dashes {
      100% {
        stroke-dashoffset: -31px;
      }
    }
    @keyframes am-moving-dashes {
      100% {
        stroke-dashoffset: -31px;
      }
    }
    
    
    .lastBullet {
      -webkit-animation: am-pulsating 1s ease-out infinite;
      animation: am-pulsating 1s ease-out infinite;
    }
    @-webkit-keyframes am-pulsating {
      0% {
        stroke-opacity: 1;
        stroke-width: 0px;
      }
      100% {
        stroke-opacity: 0;
        stroke-width: 50px;
      }
    }
    @keyframes am-pulsating {
      0% {
        stroke-opacity: 1;
        stroke-width: 0px;
      }
      100% {
        stroke-opacity: 0;
        stroke-width: 50px;
      }
    }
    
    .amcharts-graph-column-front {
      -webkit-transition: all .3s .3s ease-out;
      transition: all .3s .3s ease-out;
    }
    .amcharts-graph-column-front:hover {
      fill: #496375;
      stroke: #496375;
      -webkit-transition: all .3s ease-out;
      transition: all .3s ease-out;
    }
    
    .amcharts-graph-robot {
      stroke-linejoin: round;
      stroke-linecap: round;
      stroke-dasharray: 500%;
      stroke-dasharray: 0 \0/;    /* fixes IE prob */
      stroke-dashoffset: 0 \0/;   /* fixes IE prob */
      -webkit-animation: am-draw 40s;
      animation: am-draw 40s;
    }
    @-webkit-keyframes am-draw {
        0% {
            stroke-dashoffset: 500%;
        }
        100% {
            stroke-dashoffset: 0%;
        }
    }
    @keyframes am-draw {
        0% {
            stroke-dashoffset: 500%;
        }
        100% {
            stroke-dashoffset: 0%;
        }
    }
  </style>
  
  <script>
  
      function getRandomInt(max) {
          return Math.floor(Math.random() * Math.floor(max));
      }
  
      function getNeg()
      {
          rand = Math.floor(Math.random() * Math.floor(2));
          return rand == 0 ? 1 : -1
      }
  
      function get_day(date_obj,num_days)
      {
          var day_num = 1000 * 60 * 60 * 24;
          var ret_day = date_obj - (day_num*num_days);
          ret_day = new Date(ret_day)
          return String(ret_day.getFullYear()) + "-" + String(ret_day.getMonth()+1).padStart(2, '0') + "-" + String(ret_day.getDate()).padStart(2, '0')
      }
  
      function getCookie(name) {
          // Split cookie string and get all individual name=value pairs in an array
          var cookieArr = document.cookie.split(";");
          
          // Loop through the array elements
          for(var i = 0; i < cookieArr.length; i++) {
              var cookiePair = cookieArr[i].split("=");
              
              /* Removing whitespace at the beginning of the cookie name
              and compare it with the given string */
              if(name == cookiePair[0].trim()) {
                  // Decode the cookie value and return
                  return decodeURIComponent(cookiePair[1]);
              }
          }
          
          // Return null if not found
          return null;
      }
      
      var date = new Date();
      var yesterday = date - 1000 * 60 * 60 * 24 * 2;   // current date's milliseconds - 1,000 ms * 60 s * 60 mins * 24 hrs * (# of days beyond one to go back)
      yesterday = new Date(yesterday);
      console.log(get_day(yesterday,3));
  
      var human_trade = 80;
      var robot_trade = 50;
      var elf_trade = 30;

      <%@company = Company.find(params[:id])%>
  
      var chartData = [
      {
          "date": get_day(date,13),
          "Elf": <%=@company.day_stocks_elf[(13.day.ago.to_date - Date.parse('8-1-2021').to_date).to_i]%>,
          "Human": <%=@company.day_stocks_human[(13.day.ago.to_date - Date.parse('8-1-2021').to_date).to_i]%>,
          "Robot": <%=@company.day_stocks_robot[(13.day.ago.to_date - Date.parse('8-1-2021').to_date).to_i]%>,
      },
      {
          "date": get_day(date,12),
          "Elf": <%=@company.day_stocks_elf[(12.day.ago.to_date - Date.parse('8-1-2021').to_date).to_i]%>,
          "Human": <%=@company.day_stocks_human[(12.day.ago.to_date - Date.parse('8-1-2021').to_date).to_i]%>,
          "Robot": <%=@company.day_stocks_robot[(12.day.ago.to_date - Date.parse('8-1-2021').to_date).to_i]%>,
      },
      {
          "date": get_day(date,11),
          "Elf": <%=@company.day_stocks_elf[(11.day.ago.to_date - Date.parse('8-1-2021').to_date).to_i]%>,
          "Human": <%=@company.day_stocks_human[(11.day.ago.to_date - Date.parse('8-1-2021').to_date).to_i]%>,
          "Robot": <%=@company.day_stocks_robot[(11.day.ago.to_date - Date.parse('8-1-2021').to_date).to_i]%>,
      },
      {
          "date": get_day(date,10),
          "Elf": <%=@company.day_stocks_elf[(10.day.ago.to_date - Date.parse('8-1-2021').to_date).to_i]%>,
          "Human": <%=@company.day_stocks_human[(10.day.ago.to_date - Date.parse('8-1-2021').to_date).to_i]%>,
          "Robot": <%=@company.day_stocks_robot[(10.day.ago.to_date - Date.parse('8-1-2021').to_date).to_i]%>,
      },
      {
          "date": get_day(date,9),
          "Elf": <%=@company.day_stocks_elf[(9.day.ago.to_date - Date.parse('8-1-2021').to_date).to_i]%>,
          "Human": <%=@company.day_stocks_human[(9.day.ago.to_date - Date.parse('8-1-2021').to_date).to_i]%>,
          "Robot": <%=@company.day_stocks_robot[(9.day.ago.to_date - Date.parse('8-1-2021').to_date).to_i]%>,
      },
      {
          "date": get_day(date,8),
          "Elf": <%=@company.day_stocks_elf[(8.day.ago.to_date - Date.parse('8-1-2021').to_date).to_i]%>,
          "Human": <%=@company.day_stocks_human[(8.day.ago.to_date - Date.parse('8-1-2021').to_date).to_i]%>,
          "Robot": <%=@company.day_stocks_robot[(8.day.ago.to_date - Date.parse('8-1-2021').to_date).to_i]%>,
      },
      {
          "date": get_day(date,7),
          "Elf": <%=@company.day_stocks_elf[(7.day.ago.to_date - Date.parse('8-1-2021').to_date).to_i]%>,
          "Human": <%=@company.day_stocks_human[(7.day.ago.to_date - Date.parse('8-1-2021').to_date).to_i]%>,
          "Robot": <%=@company.day_stocks_robot[(7.day.ago.to_date - Date.parse('8-1-2021').to_date).to_i]%>,
      },
      {
          "date": get_day(date,6),
          "Elf": <%=@company.day_stocks_elf[(6.day.ago.to_date - Date.parse('8-1-2021').to_date).to_i]%>,
          "Human": <%=@company.day_stocks_human[(6.day.ago.to_date - Date.parse('8-1-2021').to_date).to_i]%>,
          "Robot": <%=@company.day_stocks_robot[(6.day.ago.to_date - Date.parse('8-1-2021').to_date).to_i]%>,
      },
      {
          "date": get_day(date,5),
          "Elf": <%=@company.day_stocks_elf[(5.day.ago.to_date - Date.parse('8-1-2021').to_date).to_i]%>,
          "Human": <%=@company.day_stocks_human[(5.day.ago.to_date - Date.parse('8-1-2021').to_date).to_i]%>,
          "Robot": <%=@company.day_stocks_robot[(5.day.ago.to_date - Date.parse('8-1-2021').to_date).to_i]%>,
      },
      {
          "date": get_day(date,4),
          "Elf": <%=@company.day_stocks_elf[(4.day.ago.to_date - Date.parse('8-1-2021').to_date).to_i]%>,
          "Human": <%=@company.day_stocks_human[(4.day.ago.to_date - Date.parse('8-1-2021').to_date).to_i]%>,
          "Robot": <%=@company.day_stocks_robot[(4.day.ago.to_date - Date.parse('8-1-2021').to_date).to_i]%>,
      },
      {
          "date": get_day(date,3),
          "Elf": <%=@company.day_stocks_elf[(3.day.ago.to_date - Date.parse('8-1-2021').to_date).to_i]%>,
          "Human": <%=@company.day_stocks_human[(3.day.ago.to_date - Date.parse('8-1-2021').to_date).to_i]%>,
          "Robot": <%=@company.day_stocks_robot[(3.day.ago.to_date - Date.parse('8-1-2021').to_date).to_i]%>,
      },
      {
          "date": get_day(date,2),
          "Elf": <%=@company.day_stocks_elf[(2.day.ago.to_date - Date.parse('8-1-2021').to_date).to_i]%>,
          "Human": <%=@company.day_stocks_human[(2.day.ago.to_date - Date.parse('8-1-2021').to_date).to_i]%>,
          "Robot": <%=@company.day_stocks_robot[(2.day.ago.to_date - Date.parse('8-1-2021').to_date).to_i]%>,
      },
      {
          "date": get_day(date,1),
          "Elf": <%=@company.day_stocks_elf[(1.day.ago.to_date - Date.parse('8-1-2021').to_date).to_i]%>,
          "Robot": <%=@company.day_stocks_robot[(1.day.ago.to_date - Date.parse('8-1-2021').to_date).to_i]%>,
          "Human": <%=@company.day_stocks_human[(1.day.ago.to_date - Date.parse('8-1-2021').to_date).to_i]%>,
          "alpha":0.4
      },
      {
          "date": get_day(date,0),
          "Elf":<%=@company.minute_stocks_elf[((((DateTime.now - 0.minutes)-DateTime.new(2021,01,8,00, 27, 00))*24*60)-360).to_i ]%>,
          "Human": <%=@company.minute_stocks_human[((((DateTime.now - 0.minutes)-DateTime.new(2021,01,8,00, 27, 00))*24*60)-360).to_i ]%>,
          "Robot": <%=@company.minute_stocks_robot[((((DateTime.now - 0.minutes)-DateTime.new(2021,01,8,00, 27, 00))*24*60)-360).to_i ]%>,
          "bulletClass": "lastBullet"
      },
      {
          "date": get_day(date,-1)
      },
      {
          "date": get_day(date,-2)
      },
      {
          "date": get_day(date,-3)
      },
      {
          "date": get_day(date,-4)
      },
      {
          "date": get_day(date,-5)
      }
  ];
  var chart = AmCharts.makeChart("chartdiv", {
    type: "serial",
    theme: "dark",
    dataDateFormat: "YYYY-MM-DD",
    dataProvider: chartData,
  
    addClassNames: true,
    startRobot: 1,
    color: "#FFFFFF",
    marginLeft: 0,
  
    categoryField: "date",
    categoryAxis: {
      parseDates: true,
      minPeriod: "DD",
      autoGridCount: false,
      gridCount: 50,
      gridAlpha: 0.1,
      gridColor: "#FFFFFF",
      axisColor: "#555555",
      dateFormats: [{
          period: 'DD',
          format: 'DD'
      }, {
          period: 'WW',
          format: 'MMM DD'
      }, {
          period: 'MM',
          format: 'MMM'
      }, {
          period: 'YYYY',
          format: 'YYYY'
      }]
    },
  
    valueAxes: [{
      id: "a1",
      title: "Copper Pieces",
      gridAlpha: 0,
      axisAlpha: 0
    }],
    graphs: [{
      id: "g1",
      valueField:  "Elf",
      title:  "Elf: ",
      type:  "column",
      fillAlphas:  0.9,
      valueAxis:  "a1",
      balloonText:  "[[value]]  CP",
      lineColor:  "#263138",
      alphaField:  "alpha",
    },{
      id: "human",
      valueField: "Human",
      classNameField: "bulletClass",
      title: "Human:",
      type: "line",
      valueAxis: "a2",
      lineColor: "#66ff00",
      lineThickness: 1,
      legendValueText: "[[value]] CP",
      descriptionField: "townName",
      bullet: "round",
      bulletSizeField: "townSize",
      bulletBorderColor: "#786c56",
      bulletBorderAlpha: 1,
      bulletBorderThickness: 2,
      bulletColor: "#000000",
      labelPosition: "right",
      balloonText: "[[value]] CP",
      showBalloon: true,
      animationPlayed: true,
    },{
      id: "robot",
      title: "Robot: ",
      valueField: "Robot",
      type: "line",
      valueAxis: "a3",
      lineColor: "#ff5755",
      balloonText: "[[value]] CP",
      lineThickness: 1,
      legendValueText: "[[value]]",
      bullet: "square",
      bulletBorderColor: "#ff5755",
      bulletBorderThickness: 1,
      bulletBorderAlpha: 1,
      dashLengthField: "dashLength",
      animationPlayed: true
    }],
  
    chartCursor: {
      zoomable: false,
      categoryBalloonDateFormat: "DD",
      cursorAlpha: 0,
      valueBalloonsEnabled: false
    },
    legend: {
      bulletType: "round",
      equalWidths: false,
      valueWidth: 120,
      useGraphSettings: true,
      color: "#FFFFFF"
    }
  });
  

  </script>
  
  
  <br>
  <h1>Zail Stock Exchange:<%=@company.name%> </h1>
  <div style="float:left;margin-right:10px">
  <form action="/stocks_minute/<%=params[:id]%>">
    <button>Switch to Minute by Minute View</button>
  </form>
  </div>
  <form action="/user/<%=session[:user_id]%>">
    <button>View Your Portfolio</button>
  </form>
  <br>
  <div id="chartdiv"></div>
  <div style="width:100%">	
    <div style="width:50%">
      <h2 class="hoverHide" syle="text-decoration: underline;"><label for="comps"><%=@company.name%></label>
        <select name="comps" onchange="location = this.value;">
          <option value="/stocks/<%=Company.first().id%>"></option>
          <% Company.all.each do |comp|%>
          <option value="/stocks/<%=comp.id%>"><%=comp.name%></option>
          <% end %>
        </select></h2>
        <p><%=@company.description%></p>
    </div>
    <div style="width:50%; float:right;">
      <form action="/buy" method="post">
        <button>Buy Robot at <%=@company.minute_stocks_robot[((((DateTime.now - 0.minutes)-DateTime.new(2021,01,8,00, 27, 00))*24*60)-360).to_i ]%> CP </button>
        <input type="hidden" id="company" name="company_id" value="<%=params[:id]%>">
        <input type="hidden" id="user" name="user_id" value="<%=session[:user_id]%>">
        <input type="hidden" id="price" name="buy_price" value=<%=@company.minute_stocks_robot[((((DateTime.now - 0.minutes)-DateTime.new(2021,01,8,00, 27, 00))*24*60)-360).to_i ]%>>
        <input type="hidden" id="rob_hum_elf" name="rob_hum_elf" value=0>
      </form>
      <form action="/buy" method="post">
        <button>Buy Human at <%=@company.minute_stocks_human[((((DateTime.now - 0.minutes)-DateTime.new(2021,01,8,00, 27, 00))*24*60)-360).to_i ]%> CP</button>
        <input type="hidden" id="company" name="company_id" value="<%=params[:id]%>">
        <input type="hidden" id="user" name="user_id" value="<%=session[:user_id]%>">
        <input type="hidden" id="price" name="buy_price" value=<%=@company.minute_stocks_human[((((DateTime.now - 0.minutes)-DateTime.new(2021,01,8,00, 27, 00))*24*60)-360).to_i ]%>>
        <input type="hidden" id="rob_hum_elf" name="rob_hum_elf" value=1>
      </form>
      <form action="/buy" method="post">
        <button>Buy Elf at <%=@company.minute_stocks_elf[((((DateTime.now - 0.minutes)-DateTime.new(2021,01,8,00, 27, 00))*24*60)-360).to_i ]%> CP</button>
        <input type="hidden" id="company" name="company_id" value="<%=params[:id]%>">
        <input type="hidden" id="user" name="user_id" value="<%=session[:user_id]%>">
        <input type="hidden" id="price" name="buy_price" value=<%=@company.minute_stocks_elf[((((DateTime.now - 0.minutes)-DateTime.new(2021,01,8,00, 27, 00))*24*60)-360).to_i ]%>>
        <input type="hidden" id="rob_hum_elf" name="rob_hum_elf" value=2>
      </form>
    </div>
  </div>
  